<div class="flashcard container">
  <div class="flashcard-question">
    <h3><%= flashcard.question %></h3>
    <div class="progress progress-flashcards">
      <div class="progress-bar" role="progressbar" style="width: <%= (@counter.to_f / @count) * 100 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>

  <div class="flash-form">
    <%= simple_form_for @answer, method: :patch, remote: true do |f| %>
      <%= f.input :answer, as: :radio_buttons, collection: @answers, wrapper: :vertical_collection_inline, input_html: { class: "answer-buttons"}%>
      <%= f.hidden_field :flashcard, value: flashcard.id %>
      <%= f.hidden_field :user_set, value: @user_set.id %>
      <%= f.hidden_field :correct, value: correct_answer %>
      <%= f.submit "Submit", class: 'w-50 submit-btn mt-5' %>
    <% end %>
  </div>
</div>
