<div class="set-card-info col-sm-12 set-tooltiptext-right">
  <div class="set-info-bg">
    <div class="text-right head">
      <div class="text-white">
        <%= set.title %> - <%= set.difficulty %>
      </div>
      <p class="text-white">
        <%= set.description %>
      </p>
      <%= link_to "Start", card_set_path(set) do %>
        <div class="btn secondary-btn">
        </div>
      <% end %>
    </div>
    <div class="set-card-info-exp btn btn-warning">
      <%= set.flashcards.count * 10 %> XP
    </div>
  </div>
</div>
