<div class="container text-center">
  <div class="d-flex justify-content-center align-items-center">
    <%= link_to languages_path, class: "light-font" do %>
    <div class="btn nav">
      <i class="fas fa-arrow-left"> <span class="light-font">Back</span></i>
    </div>
    <% end %>
    <h1 class="flex-grow-1">Pick a set of <%= @language.name %> flashcards!</h1>
  </div>
  <hr>
  <div class="container col-12 col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
    <%= simple_form_for :search, url: language_card_sets_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <%=
          text_field_tag :query,
          params[:query],
          placeholder: "Search all card sets...",
          class: "string required form-control" %>
        <div>
          <%= button_tag(type: 'submit', class: "btn btn-primary", data: { disable_with: "Searching..." } ) do %>
            <div class="light-font"><i class="fas fa-search"></i>  Search</div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div>

    <% @difficulties.each do |difficulty| %>
      <% @difficulty_value += 10 %>

      <div class="p-3">
        <h2><%= difficulty %></h2>
        <div class="row m-3">
          <% counter = 0 %>

          <% @card_sets.select{ |set| set.difficulty == difficulty}.each do |set| %>
            <% counter += 1 %>
            <% @temp = set if counter.odd? %>

            <div class="col-sm-12 col-md-6 d-flex justify-content-center">

              <!--Check if the user has attempted this set-->
              <% unless @user_sets.find{ |user_set| user_set.card_set.id == set.id }.nil? %>

                <% if @user_sets.find{ |user_set| user_set.card_set.id == set.id }.completed %>
                  <!--user has completed this set-->
                  <%= render "set_card", { set: set, add: "set-completed"} %>
                <% else %>
                  <!--user has attempted, but didn't answer all cards correctly-->
                  <%= render "set_card", { set: set, add: "set-attempted"} %>
                <% end %>
              <!--Else if user never attempted this set, render without adding any additional classes to card set div-->
              <% else %>
                <%= render "set_card", set: set, add: "" %>
              <% end %>

            </div>
            <% if counter.even? %>
              <%= render "set_card_info_left", set: @temp, value: @difficulty_value %>
              <%= render "set_card_info_right", set: set, value: @difficulty_value %>
            <% end %>
          <% end %>

          <% if counter.odd? %>
            <%= render "set_card_info_left", set: @temp, value: @difficulty_value %>
          <% end %>

        </div>
      </div>
    <% end %>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript">
  $(document).on('click', '.set-card', function(){
    if($(this).parent().next().is(':last-child')) {
      // hide siblings with same difficulty
      $(this).parent().next().siblings().hide()
      // hide siblings with different difficulty
      $(this).parent().parent().parent().siblings().children().children().hide()
      $(this).parent().next().toggle('active')
    }
    else {
      // hide siblings with same difficulty
      $(this).parent().next().next().siblings().hide()
      // hide siblings with different difficulty
      $(this).parent().parent().parent().siblings().children().children().hide()
      $(this).parent().next().next().toggle('active')
    }
  })
</script>
