<div class="container text-center">
  <div class="d-flex justify-content-center align-items-center">
    <%= link_to languages_path, class: "light-font" do %>
    <div class="btn nav">
      <i class="fas fa-arrow-left">Back</i>
    </div>
    <% end %>
    <h1 class="flex-grow-1">Pick a set of <%= @language.name %> flashcards!</h1>
  </div>
  <hr>
  <div class="container col-12 col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
    <%= simple_form_for :search, url: language_card_sets_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required dark-font" type="text" name="search[query]" id="search_query" placeholder="Search all card sets..."/>
        <button name="button" type="submit" class="btn btn-primary light-font">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
  </div>
  <h1><%= @language.name %></h1>

  <div>
    <% @difficulties.each do |difficulty| %>
      <div class="p-3">
        <h2><%= difficulty %></h2>
        <div class="row m-3">
          <% counter = 0 %>
          <% CardSet.where(language: @language, difficulty: difficulty).each do |set| %>
            <% counter += 1 %>
            <% @temp = set if counter.odd? %>
            <div class="col-sm-12 col-md-6 d-flex justify-content-center">

              <% if @user_sets.include?(set) %>

                <% if UserSets.find(set.id).completed %>
                  <!--logic for later, add something if user has completed this set-->
                  <%= render "set_card", { set: set, add_class: "set-completed"} %>
                <% else %>
                  <!--logic for later, add something if user has attempted, but failed this set-->
                  <%= render "set_card", { set: set, add_class: "set-attempted"} %>
                <% end %>

              <% else %>
                <%= render "set_card", set: set %>
              <% end %>
            </div>
            <% if counter.even? %>
              <%= render "set_card_info", set: @temp %>
              <%= render "set_card_info", set: set %>
            <% end %>
          <% end %>
          <% if counter.odd? %>
            <%= render "set_card_info", set: @temp %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript">
  $(document).on('click', '.set-card', function(){
    if($(this).parent().next().is(':last-child')) {
      // hide siblings with same difficulty
      $(this).parent().next().siblings().hide()
      // hide siblings with different difficulty
      $(this).parent().parent().parent().siblings().children().children().hide()
      $(this).parent().next().toggle('active')
    }
    else {
      // hide siblings with same difficulty
      $(this).parent().next().next().siblings().hide()
      // hide siblings with different difficulty
      $(this).parent().parent().parent().siblings().children().children().hide()
      $(this).parent().next().next().toggle('active')
    }
  })
</script>
