<div class="container">
  <div style="position: relative">
    <%= link_to languages_path, class: "light-font index-back" do %>
    <div class="btn nav">
      <i class="fas fa-arrow-left"> <span class="light-font">Back</span></i>
    </div>
    <% end %>
    <h1 class="text-center"><%= @language.name %> Flashcards!</h1>
  </div>
  <hr>
  <div class="container col-12 col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
    <%= simple_form_for :search, url: language_card_sets_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <%=
          text_field_tag :query,
          params[:query],
          placeholder: "Search all card sets...",
          class: "string required form-control" %>
        <div>
          <%= button_tag(type: 'submit', class: "btn btn-primary", data: { disable_with: "Searching..." } ) do %>
            <div class="light-font"><i class="fas fa-search"></i>  Search</div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

<div>
  <!-- for each array of difficulty-level cardsets (set of 3) -->
  <% @card_sets.each do |diffcardsets| %>
    <!-- increase the xp multiplier by 10 for each difficulty -->
    <% @difficulty_value += 10 %>
    <div>
      <!-- check difficulty of first set -->
      <h2><%= diffcardsets.first.first.difficulty unless diffcardsets.first.nil? %></h2>
      <!-- for each set of 3 cardset -->
      <% diffcardsets.map do |cardset| %>
        <!-- create a grid (3 items) -->
        <div class="grid">
          <% cardset_count = 0 %>
          <!-- in the grid row, create as many items as there are in the sliced array (max 3) -->
          <% cardset.count.times do %>
            <!-- if there is no matching user set then render normally -->
            <% if @user_sets.find{ |user_set| user_set.card_set.id == cardset[cardset_count].id }.nil? %>
              <%= render "griditem", { cardset: cardset, cardset_count: cardset_count, count: cardset_count, add: "" } %>
              <!-- increment the counter (0, 1 or 2) before repeating the iterator -->
              <% cardset_count += 1 %>
            <% else %>
              <!-- create variable add that contains completed or attempted class -->
              <% add = @user_sets.find{ |user_set| user_set.card_set.id == cardset[cardset_count].id }.completed ? "set-completed" : "set-attempted"  %>
              <!-- render the cardset and pass it the correct class via add -->
              <%= render "griditem", { cardset: cardset, cardset_count: cardset_count, count: cardset_count, add: add } %>
              <!-- increment the counter (0, 1 or 2) before repeating the iterator  -->
              <% cardset_count += 1 %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
