<div>
  <h1><%= @card_set.title %> - <%= @user_set.id %> - <%= @user_set.completed %></h1>
</div>
<div>
  <% @user_set.user_answers.each do |answer| %>
    <% @answers = [answer.flashcard.correct_answer, answer.flashcard.answer_1, answer.flashcard.answer_2, answer.flashcard.answer_3] %>
    <% @answers.shuffle! %>
    <div>
      <h2><%= answer.flashcard.question %></h2>
    </div>

    <div>
      <%= render "question_form", options: @answers, user_answer: answer %>
    </div>

  <% end %>

</div>
