<h1>Select a Language to Learn</h1>

<hr>

<h3>Recent Languages</h3>
<div class="language-grid">
  <% @top3.each do |language| %>
    <div class="card-language"><%= language %></div>
  <% end %>
</div>

<hr/>

<div class="language-grid">
  <% @languages.each do |language| %>
    <%= link_to language_card_sets_path(language) do %>
      <div class="card-language" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= cl_image_path language.photo.key, height: 180, crop: :thumb ; %>)">
        <%= language.name %>
        <div class="card-language-tooltip">
          <div class="lang-tooltip">
            <span><i class="fas fa-info-circle "></i><span>
            <span class="lang-tooltiptext"><%= language.description %></span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
