<div class="row">
  <h1 class="mb-5">Your <%= @group.language.name %> World</h1>
</div>

<div class="row">
  <div class="highlights w-100 d-flex justify-content-around align-items-center">
      <div class="group-stat">
        <h4><%= @group.name %></h4>
      </div>
      <div class="group-stat">
        <h5><%= @group_points %></h5>
        <p>total points</p>
      </div>
      <div class="group-stat">
        <h5><%= @group.group_memberships.count %></h5>
        <p>Team Members</p>
      </div>
      <div class="group-stat">
        <h5><%= @membership.points %></h5>
        <p>Your contribution</p>
      </div>
      <%= link_to language_card_sets_path(@group.language) do  %>
      <div class="secondary-btn">Find set now <i class="fas fa-arrow-right"></i></div>
    <% end %>
  </div>
</div>

<div class="row mb-5">
  <div class="w-100 quest-container">

    <div class="quest-results">
      <div class="quest-banner">
        <div class="quest-graphic d-flex justify-content-center align-items-center">
          <div class="small-civ text-center">
            <%= image_tag "level#{@group.level}.png", alt: "alttext"%>
            <p><%= @level_names[@group.level] %></p>
          </div>
          <div class="text-center">
            <svg class="c-dashed-line" width="517" height="96" xmlns="http://www.w3.org/2000/svg">
              <defs>
                <path id="line" d="M4.90558 63.9268C49.3203 61.6248 59.7187 89.88 113.492 87.0931C167.264 84.3061 183.703 20.0423 243.302 16.9534C302.9 13.8645 341.13 75.295 395.351 72.4848C449.572 69.6746 458.136 40.4366 512.163 37.6365"/>
              </defs>
              <use class="dotted-line" xlink:href="#line"/>
              <use class="solid-line" xlink:href="#line" stroke-dasharray="<%= @progress %>, 550"/>
            </svg>
            <h4 class=""><%= @group.target_points - @group_points %> points to go!</h4>
          </div>
          <div class="large-civ text-center">
            <%= image_tag "level#{@group.level+1}.png", alt: "alttext"%>
            <p><%= @level_names[@group.level+1] %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-5">
  <h2>Your Team Members</h2>
  <div class="team-members w-100 mt-2 d-flex justify-content-around">
    <% @members.each do |member| %>
    <div class="text-center">
      <% if @members.count < 6 %>
        <%= cl_image_tag member.user.photo.key, :width=>250, :height=>250, :gravity=>"faces", :crop=>"fill", class: "avatar-xl" %>
      <% else %>
        <%= cl_image_tag member.user.photo.key, :width=>250, :height=>250, :gravity=>"faces", :crop=>"fill", class: "avatar-large" %>
      <% end %>
      <p><strong><%= member.user.username %></strong></p>
    </div>
    <% end %>
  </div>
</div>
