<h1>Your <%= @group.language.name %> Adventure</h1>
<p>Find me in app/views/groups/show.html.erb</p>

<div class="row align-items-stretch results-row mb-4">
  <div class="user-stats mt-5 mb-3">
    <div class="highlights">
      <h3>Highlights</h3>
      <table>
        <tr>
          <td>Total points</td>
          <td><%= current_user.points %></td>
        </tr>
        <tr>
          <td>Total groups</td>
          <td><%= current_user.groups.count %></td>
        </tr>
        <tr>
          <td>Joined on</td>
          <td><%= current_user.created_at.strftime("%D") %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="next-set">
    <% if @next_set.nil? %>
      <h4>You have completed every set for this language!</h4>
    <% else %>
    <%= link_to card_set_path(@next_set) do %>
      <h3>Start your next set <i class="fas fa-arrow-right"></i></h3>
      <div class="line"></div>
      <p><%= @next_set.title %></p>
      <small><%= @next_set.description %></small>
      <div class="next-xp">
        <p><%= @next_set.flashcards.count * 10 %> XP</p>
      </div>
    <% end %>
    <% end %>
  </div>

</div>
<div class="row">
<h2>Progress</h2>
  <div class="w-100 quest-container mt-3">

    <div class="quest-results">
      <div class="quest-banner">
        <div class="quest-info">
          <p><strong>Your contribution to date</strong> - <%= @membership.points %> points</p>
        </div>
        <div class="quest-graphic d-flex justify-content-center align-items-center">
          <div class="small-civ text-center">
            <%= image_tag "level#{@group.level}.png", alt: "alttext"%>
            <p><%= @level_names[@group.level] %></p>
          </div>
          <div class="text-center">
            <svg class="c-dashed-line" width="517" height="96" xmlns="http://www.w3.org/2000/svg">
              <defs>
                <path id="line" d="M4.90558 63.9268C49.3203 61.6248 59.7187 89.88 113.492 87.0931C167.264 84.3061 183.703 20.0423 243.302 16.9534C302.9 13.8645 341.13 75.295 395.351 72.4848C449.572 69.6746 458.136 40.4366 512.163 37.6365"/>
              </defs>
              <use class="dotted-line" xlink:href="#line"/>
              <use class="solid-line" xlink:href="#line" stroke-dasharray="<%= @progress %>, 550"/>
            </svg>
            <h4 class=""><%= @group.target_points - @group_points %> points to go!</h4>
          </div>
          <div class="large-civ text-center">
            <%= image_tag "level#{@group.level+1}.png", alt: "alttext"%>
            <p><%= @level_names[@group.level+1] %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
