<div class="fixed-top navbar navbar-expand navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>

<!--   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <li class="nav-item dropdown notif-icon">
        <div class="dropdown-toggle" id="alertDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bell"></i></div>
        <div class="dropdown-menu scrollable dropdown-menu-left" id="notif-icon-position" aria-labelledby="alertDropdown">
          <% if current_user.notifications.empty? %>
            <div class="text-center small">
              No new notifications
            </div>
          <% else %>
            <% @notifications.each do |notification| %>
              <div class="notification">
                <%= cl_image_tag notification.actor.photo.key, class: "avatar" %>
                <div class="notification-content">
                  <p><small>from <span class="text-dark"><%= notification.actor.username.capitalize %></span>, <%= time_ago_in_words(notification.created_at) %> ago</small></p>
                  <p class="small"><%= notification.content %></p>
                </div>

                <div class="notification-actions">
                  <%= link_to notification_path(notification), method: :delete do %>
                    <i class="fas fa-times pr-3"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </li>
        <li class="nav-item">
          <%= link_to "Languages", languages_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Social", "/social", class: "nav-link pr-3" %>
        </li>
        <div class="game-progress d-flex">
          <div class="icon">
            <li class="nav-item dropdown">
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, width:50, height:50, crop: :thumb, gravity: :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
                <%= image_tag "https://www.pphfoundation.ca/wp-content/uploads/2018/05/default-avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
                <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          </div>
          <div class="xp">
            <div class="username">
              <p><%= current_user.username %></p>
            </div>
            <div class="level-bar d-flex">
             <div class="progress">
               <div class="progress-bar" data-level="<%= @level %>" role="progressbar" style="width: <%= @level_percentage %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
             </div>
            </div>
          </div>
          <div class="level">
            <p id='levelPara'>lvl <%= @level %></p>
          </div>
        </div>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
