<div class="header-back">
  <%= link_to language_card_sets_path(@card_set.language) do %>
    <div class="btn nav light-font">
      <span><i class="fas fa-arrow-left"></i> Back to all Cardsets</span>
    </div>
  <% end %>
  <h1><%= @card_set.language.name %> - <%= @card_set.title %></h1>
</div>

<div class="row align-items-stretch results-row">
  <div class="results d-flex">
    <div class="stats">
      <div class="percentage">
        <h4>Stats</h4>
        <p id="stats"><%= @percentage %>%</p>
        <p id="correct"><strong>Correct</strong> <%= @correct %></p>
        <p id="incorrect"><strong>Incorrect</strong> <%= @incorrect %></p>
      </div>
      <div class="link">
        <%= link_to "Revisit set", card_set_path(@card_set), class: 'secondary-btn' %>
      </div>
    </div>
    <div class="vertical-line">
    </div>
    <div class="experience">
      <h4>Experience</h4>
      <div class="xp-earned">
        <p><%= @most_recent_user_set.points_earned %> XP</p>
      </div>
      <div class="xp-total">
        <p>Total XP <%= current_user.points %></p>
      </div>
    </div>
  </div>
  <div class="next-set">
    <% if @next_set.nil? %>
      <h3>You have completed every set for this language!</h3>
    <% else %>
    <h3><%= link_to "Start your next set >", card_set_path(@next_set) %></h3>
    <div class="line"></div>
    <p><%= @next_set.title %></p>
    <small><%= @next_set.description %></small>
    <div class="next-xp">
      <p><%= @next_set.flashcards.count * 10 %> XP</p>
    </div>
    <% end %>
  </div>
</div>

