<h1><%= @card_set.language.name %> - <%= @card_set.title %></h1>


<p>Correct answers: <%= @correct %></p>
<p>Incorrect answers: <%= @incorrect %></p>
<p>Percentage: <%= @percentage %>%</p>

<%= @next_set %>

<%= link_to "Start your next set", '#' %>
<%= link_to "Revisit set", '#' %>
