<div class="header-back">
  <%= link_to language_card_sets_path(@card_set.language) do %>
    <div class="btn nav light-font">
      <span><i class="fas fa-arrow-left"></i> Back to all Cardsets</span>
    </div>
  <% end %>
  <h1><%= @card_set.language.name %> - <%= @card_set.title %></h1>
</div>

<div class="row align-items-stretch results-row">
  <div class="results d-flex">
    <div class="stats">
      <div class="percentage">
        <h4>Stats</h4>
        <p id="stats"><%= @percentage %>%</p>
        <p id="correct"><strong>Correct</strong> <%= @correct %></p>
        <p id="incorrect"><strong>Incorrect</strong> <%= @incorrect %></p>
      </div>
      <div class="link">
        <%= link_to "Revisit set", card_set_path(@card_set), class: 'secondary-btn' %>
      </div>
    </div>
    <div class="vertical-line">
    </div>
    <div class="experience">
      <h4>Experience</h4>
      <div class="xp-earned">
        <p><%= @most_recent_user_set.points_earned %> XP</p>
      </div>
      <div class="xp-total">
        <p>Total XP <%= current_user.points %></p>
      </div>
    </div>
  </div>
  <div class="next-set">
    <% if @next_set.nil? %>
      <h3>You have completed every set for this language!</h3>
    <% else %>
    <h3><%= link_to "Start your next set >", card_set_path(@next_set) %></h3>
    <div class="line"></div>
    <p><%= @next_set.title %></p>
    <small><%= @next_set.description %></small>
    <div class="next-xp">
      <p><%= @next_set.flashcards.count * 10 %> XP</p>
    </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="quest-results">
      <div class="quest-banner">
        <div class="quest-heading d-flex">
        <h2>Your <%= @card_set.language.name %> Adventure</h2>
        <button class="secondary-btn ml-5">See all your adventures</button>
        </div>
        <div class="quest-graphic d-flex mx-auto align-items-center">
          <%= image_tag "town.png", alt: "alttext", width: '75', height: '75', class: "flex-grow-1"%>
          <svg class="c-dashed-line" width="517" height="96 " xmlns="http://www.w3.org/2000/svg">
            <defs>
              <path id="line" d="M4.90558 63.9268C49.3203 61.6248 59.7187 89.88 113.492 87.0931C167.264 84.3061 183.703 20.0423 243.302 16.9534C302.9 13.8645 341.13 75.295 395.351 72.4848C449.572 69.6746 458.136 40.4366 512.163 37.6365"/>
            </defs>
            <use class="dotted-line" xlink:href="#line"/>
            <use class="solid-line" xlink:href="#line" stroke-dasharray="260, 550"/>
          </svg>
          <%= image_tag "town.png", alt: "alttext", width: '75', height: '75', class: "flex-grow-1"%>
        </div>
      </div>
      <div class="quest-update d-flex">
        <div class="quest-update-headings">
          <p><strong>Your <%= @card_set.language.name %> team points</strong></p>
          <p><strong>Your contribution</strong></p>
          <p><strong>Points to your <%= @card_set.language.name %> next.civilisation</strong></p>
        </div>
        <div class="quest-update-stats ml-5">
          <p>234723</p>
          <p>2345</p>
          <p>78233</p>
        </div>
      </div>
    </div>
  </div>
</div>

