<% if current_user.leveled_up %>
  <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-animation="3000">
    <div class="toast-header">
      <strong class="mr-auto">Congratulations🎉</strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true" id="close-toast">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      You leveled up! You are now level <%= current_user.level %>
    </div>
  </div>
<% end %>

<% current_user.update(leveled_up: false) %>

<div class="header-back mb-5">
  <%= link_to language_card_sets_path(@card_set.language) do %>
    <div class="btn nav light-font">
      <span><i class="fas fa-arrow-left"></i> Back to all Cardsets</span>
    </div>
  <% end %>
  <h1><%= @card_set.language.name %> - <%= @card_set.title %></h1>
</div>

<div class="row align-items-stretch results-row mb-4">
  <div class="results d-flex">
    <div class="stats">
      <div class="percentage">
        <h4>Stats</h4>
        <p id="stats"><%= @percentage %>%</p>
        <p id="correct"><strong>Correct</strong> <%= @correct %></p>
        <p id="incorrect"><strong>Incorrect</strong> <%= @incorrect %></p>
      </div>
      <%= link_to card_set_path(@card_set) do  %>
        <div class="secondary-btn">Revisit set</div>
      <% end %>
    </div>
    <div class="vertical-line">
    </div>
    <div class="experience">
      <h4>Experience</h4>
      <div class="xp-earned">
        <p><%= @most_recent_user_set.points_earned %> XP</p>
      </div>
      <div class="xp-total">
        <p>Total XP <%= current_user.points %></p>
      </div>
    </div>
  </div>
  <%= link_to card_set_path(@next_set) do %>
    <div class="next-set">
      <% if @next_set.nil? %>
        <h3>You have completed every set for this language!</h3>
      <% else %>
        <h3>Start your next set <i class="fas fa-arrow-right"></i></h3>
        <div class="line"></div>
        <p><%= @next_set.title %></p>
        <small><%= @next_set.description %></small>
        <div class="next-xp">
          <p><%= @next_set.flashcards.count %> cards</p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="row mb-4">
  <div class="w-100 quest-container">
    <div class="quest-results">
      <div class="quest-banner">
        <div class="quest-heading d-flex justify-content-between">
        <h3>Your <%= @card_set.language.name %> Adventure - <span>The <%= @group.name %></span></h3>
        <%= link_to "/social" do  %>
          <button class="secondary-btn ml-5">See all your adventures</button>
        <% end %>
        </div>
        <div class="quest-info">
          <p><strong>Your contribution to date</strong> - <%= @membership.points %> points</p>
        </div>
        <div class="quest-graphic d-flex justify-content-center align-items-center">
          <div class="small-civ text-center">
            <%= image_tag "level#{@group.level}.png", alt: "alttext"%>
            <p><%= @level_names[@group.level] %></p>
          </div>
          <div class="text-center">
            <svg class="c-dashed-line" width="517" height="96 " xmlns="http://www.w3.org/2000/svg">
              <defs>
                <path id="line" d="M4.90558 63.9268C49.3203 61.6248 59.7187 89.88 113.492 87.0931C167.264 84.3061 183.703 20.0423 243.302 16.9534C302.9 13.8645 341.13 75.295 395.351 72.4848C449.572 69.6746 458.136 40.4366 512.163 37.6365"/>
              </defs>
              <use class="dotted-line" xlink:href="#line"/>
              <use class="solid-line" xlink:href="#line" stroke-dasharray="<%= @progress %>, 550"/>
            </svg>
            <h4 class=""><%= @group.target_points - @group_points %> points to go!</h4>
          </div>
          <div class="large-civ text-center">
            <%= image_tag "level#{@group.level+1}.png", alt: "alttext"%>
            <p><%= @level_names[@group.level+1] %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-5">
  <div class="team-members w-100 mt-2">
    <h3>Give your team a nudge!</h3>
    <p class="mb-4">Send a notification to your teammates who haven't done this set yet</p>
    <div class="d-flex justify-content-around">
      <% @nudge_users.each do |user| %>
        <div class="text-center">
          <% if @nudge_users.count < 6 %>
            <%= cl_image_tag user.photo.key, :width=>250, :height=>250, :gravity=>"faces", :crop=>"fill",  class: "avatar-xl" %>
          <% else %>
            <%= cl_image_tag user.photo.key, :width=>250, :height=>250, :gravity=>"faces", :crop=>"fill",  class: "avatar-large" %>
          <% end %>
          <%= button_to "Nudge!", nudge_path(user), class: "btn secondary-btn mt-3", data: { disable_with: "Nudged" } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

