<h1><%= @card_set.language.name %> - <%= @card_set.title %></h1>

<div class="container d-flex">
  <div class="results d-flex">
    <div class="stats">
      <div class="percentage">
        <p>Percentage: <%= @percentage %>%</p>
        <p>Correct answers: <%= @correct %></p>
        <p>Incorrect answers: <%= @incorrect %></p>
      </div>
      <div class="link">
        <%= link_to "Revisit set", card_set_path(@card_set) %>
      </div>
    </div>

    <div class="experience">
      <h4>Experience</h4>
      <p><%= @most_recent_user_set.points_earned %> EXP</p>
      <p>Total EXP <%= current_user.points %></p>
    </div>
  </div>

  <% if @next_set.nil? %>
    <div>
      <p>You have completed every set for this language!</p>
    </div>
  <% else %>
    <div>
      <p>Try <%= link_to "this set next!", card_set_path(@next_set) %></p>
    </div>
  <% end %>

</div>
