<h1>Testing H1</h1>
<h2>Testing H2</h2>
<h3>Testing H3</h3>
<p>Testing paragraph text</p>

<%= link_to "level up", '/levelup' %>

<hr>

<h2>Notifications</h2>

<div class="container col-6">
  <% if current_user.notifications.empty? %>
    <div class="text-center small">
      No new notifications
    </div>
  <% else %>
    <% Notification.all.each do |notification| %>
      <div class="notification">
        <%= cl_image_tag notification.actor.photo.key, class: "avatar-large" %>
        <!-- <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" /> -->
        <div class="notification-content">
          <p><small><%= time_ago_in_words(notification.created_at) %></small></p>
          <p><%= notification.content %></p>
        </div>

        <div class="notification-actions">
          <!-- <a href="#">Edit <i class="fas fa-pencil-alt"></i></a> -->
          <%= link_to notification_path(notification), method: :delete do %>
            <i class="fas fa-times pr-3"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<hr>

<h2>Card Sets</h2>
<% count = 0 %>
<% @testlangs2.map do |langset| %>
  <div class="grid">
    <% count += 1  %>
    <div class="grid__item" tabindex="<%= count  %>">
      <%= langset.first[:name] %>
    </div>
    <div class="grid__description slide">
      <div>
        <%= langset.first[:description] %>
      </div>
    </div>
    <% if langset.count > 2 %>
      <% count += 1  %>
      <div class="grid__item" tabindex="<%= count  %>">
        <%= langset.second[:name] %>
      </div>
      <div class="grid__description">
        <div>
          <%= langset.second[:description] %>
        </div>
      </div>
      <% count += 1  %>
      <div class="grid__item" tabindex="<%= count  %>">
        <%= langset.third[:name] %>
      </div>
      <div class="grid__description">
        <div>
          <%= langset.third[:description] %>
        </div>
      </div>
    <% elsif langset.count > 1 %>
      <% count += 1  %>
      <div class="grid__item" tabindex="<%= count  %>">
        <%= langset.second[:name] %>
      </div>
      <div class="grid__description">
        <div>
          <%= langset.second[:description] %>
        </div>
      </div>
    <% else %>
    <% end %>
  </div>
<% end %>

<hr>

<!-- <hr>
<div class="sets-grid2">
<%# 2.times do %>
  <div class="d-flex">
    <div class="card-set2 mx-3">
      <div class="card-set-left2">
        <div class="card-set-title2">
          <p class="light-font">TITLE OF THE CARD SET</p>
        </div>
        <div class="light-font card-set-description2">
          This is a description of the card set to help you pick it. There is more info on the next line.
        </div>
      </div>
      <div class="card-set-count2">
        <p class="light-font">20 cards</p>
      </div>
    </div>
    <div class="card-set2 mx-3">
      <div class="card-set-left2">
        <div class="card-set-title2">
          <p class="light-font">TITLE OF THE CARD SET</p>
        </div>
        <div class="light-font card-set-description2">
          This is a description of the card set to help you pick it. There is more info on the next line.
        </div>
      </div>
      <div class="card-set-count2">
        <p class="light-font">20 cards</p>
      </div>
    </div>
  </div>
<%# end %>
</div>
 -->

<hr>
<h2>Tooltip</h2>
<div class="lang-tooltip">HOVER OVER ME
  <span class="lang-tooltiptext">Tooltip text</span>
</div>


<hr>
<h2>Buttons</h2>

<div class="primary-cta btn light-font">PRIMARY CTA</div>

<div class="secondary-btn btn dark-font">SECONDARY BTN</div>

<div class="btn nav light-font">
  <span><i class="fas fa-arrow-left"></i>  BACK</span>
</div>

<div class="btn nav light-font">
  <span>NEXT  <i class="fas fa-arrow-right"></i></span>
</div>
<br>
<br>
<div class="btn submit-btn dark-font">SUBMIT</div>

<hr>
<h2>CARDS</h2>

<div class="language-grid">
  <div class="card-language">
    LANGUAGE
    <div class="card-language-tooltip">
      <i class="btn text-white fas fa-info-circle"></i>
    </div>
  </div>
  <div class="card-language">
    LANGUAGE
    <div class="card-language-tooltip">
      <i class="btn text-white fas fa-info-circle"></i>
    </div>
  </div>
  <div class="card-language">
    LANGUAGE
    <div class="card-language-tooltip">
      <i class="btn text-white fas fa-info-circle"></i>
    </div>
  </div>
  <div class="card-language">
    LANGUAGE
    <div class="card-language-tooltip">
      <i class="btn text-white fas fa-info-circle"></i>
    </div>
  </div>
</div>

<hr>

<h2>SEARCH BAR</h2>

<div class="container col-12 col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
  <%= simple_form_for :search, url: root_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <%=
        text_field_tag :query,
        params[:query],
        placeholder: "Search all card sets...",
        class: "string required form-control" %>
      <div>
        <%= button_tag(type: 'submit', class: "btn btn-primary", data: { disable_with: "Searching..." } ) do %>
          <div class="light-font"><i class="fas fa-search"></i>  Search</div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<hr>

<svg class="c-dashed-line" width="517" height="96 " xmlns="http://www.w3.org/2000/svg">
  <defs>
    <path id="line" d="M4.90558 63.9268C49.3203 61.6248 59.7187 89.88 113.492 87.0931C167.264 84.3061 183.703 20.0423 243.302 16.9534C302.9 13.8645 341.13 75.295 395.351 72.4848C449.572 69.6746 458.136 40.4366 512.163 37.6365"/>
  </defs>
  <use class="dotted-line" xlink:href="#line"/>
  <use class="solid-line" xlink:href="#line" stroke-dasharray="<%= @progress %>, 550"/>
</svg>


<svg width="100%" height="100%" viewBox="0 0 787 437" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
    <defs>
      <path id="bolt" d="M2827.31,787.159L2873.11,579.069L2929.8,556.89L2894.44,702.194L2938.34,685.552L2808.6,980.878L2862.11,773.969L2827.31,787.159Z"/>
    </defs>
    <g transform="matrix(1,0,0,1,-5219.64,-550.424)">
        <g transform="matrix(1.50954,0,0,1,1260.42,0)">
            <use class="big-bolt" xlink:href="#bolt"/>
        </g>
        <g transform="matrix(1.50954,0,0,1,1260.42,0)">
            <g id="flash" transform="matrix(0.369351,0,0,0.621538,741.195,550.471)">
                <g transform="matrix(285.908,0,0,285.908,5079.5,422.517)">
                    <path d="M0.325,-0.553L0.143,-0.553L0.143,-0.347L0.287,-0.347L0.287,-0.276L0.143,-0.276L0.143,0L0.052,0L0.052,-0.626L0.325,-0.626L0.325,-0.553Z" style="fill-rule:nonzero;"/>
                </g>
                <g transform="matrix(285.908,0,0,285.908,5174.42,422.517)">
                    <path d="M0.142,-0.073L0.297,-0.073L0.297,0L0.052,0L0.052,-0.626L0.142,-0.626L0.142,-0.073Z" style="fill-rule:nonzero;"/>
                </g>
                <g transform="matrix(285.908,0,0,285.908,5260.48,422.517)">
                    <path d="M0.282,0L0.257,-0.145L0.125,-0.145L0.102,0L0.012,0L0.123,-0.626L0.254,-0.626L0.373,0L0.282,0ZM0.136,-0.218L0.245,-0.218L0.188,-0.548L0.136,-0.218Z" style="fill-rule:nonzero;"/>
                </g>
                <g transform="matrix(285.908,0,0,285.908,5370.56,422.517)">
                    <path d="M0.232,-0.102L0.232,-0.255C0.232,-0.267 0.23,-0.275 0.227,-0.279C0.223,-0.282 0.215,-0.284 0.203,-0.284L0.129,-0.284C0.068,-0.284 0.038,-0.314 0.038,-0.373L0.038,-0.538C0.038,-0.597 0.069,-0.626 0.131,-0.626L0.229,-0.626C0.291,-0.626 0.322,-0.597 0.322,-0.538L0.322,-0.446L0.231,-0.446L0.231,-0.524C0.231,-0.536 0.229,-0.544 0.225,-0.548C0.221,-0.551 0.213,-0.553 0.201,-0.553L0.159,-0.553C0.147,-0.553 0.139,-0.551 0.135,-0.548C0.131,-0.544 0.129,-0.536 0.129,-0.524L0.129,-0.385C0.129,-0.373 0.131,-0.365 0.135,-0.362C0.139,-0.358 0.147,-0.356 0.159,-0.356L0.232,-0.356C0.293,-0.356 0.324,-0.327 0.324,-0.268L0.324,-0.088C0.324,-0.029 0.293,0 0.23,0L0.133,0C0.071,0 0.04,-0.029 0.04,-0.088L0.04,-0.18L0.131,-0.18L0.131,-0.102C0.131,-0.09 0.133,-0.082 0.137,-0.079C0.141,-0.075 0.149,-0.073 0.161,-0.073L0.203,-0.073C0.215,-0.073 0.223,-0.075 0.227,-0.079C0.23,-0.082 0.232,-0.09 0.232,-0.102Z" style="fill-rule:nonzero;"/>
                </g>
                <g transform="matrix(285.908,0,0,285.908,5473.77,422.517)">
                    <path d="M0.275,-0.626L0.365,-0.626L0.365,0L0.275,0L0.275,-0.275L0.142,-0.275L0.142,0L0.052,0L0.052,-0.626L0.142,-0.626L0.142,-0.348L0.275,-0.348L0.275,-0.626Z" style="fill-rule:nonzero;"/>
                </g>
            </g>
        </g>
        <g transform="matrix(1.50954,0,0,1,1260.42,0)">
            <g id="codes" transform="matrix(0.268064,0,0,0.404653,2948.31,812.904)">
                <g transform="matrix(393.937,0,0,439.148,0,0)">
                    <path d="M0.34,-0.43L0.248,-0.43L0.248,-0.526C0.248,-0.538 0.246,-0.546 0.243,-0.55C0.239,-0.553 0.231,-0.555 0.219,-0.555L0.168,-0.555C0.156,-0.555 0.148,-0.553 0.144,-0.55C0.14,-0.546 0.138,-0.538 0.138,-0.526L0.138,-0.099C0.138,-0.087 0.14,-0.079 0.144,-0.076C0.148,-0.072 0.156,-0.07 0.168,-0.07L0.219,-0.07C0.231,-0.07 0.239,-0.072 0.243,-0.076C0.246,-0.079 0.248,-0.087 0.248,-0.099L0.248,-0.194L0.34,-0.194L0.34,-0.088C0.34,-0.029 0.309,0.001 0.246,0.001L0.14,0.001C0.078,0.001 0.047,-0.029 0.047,-0.088L0.047,-0.538C0.047,-0.597 0.078,-0.626 0.14,-0.626L0.246,-0.626C0.309,-0.626 0.34,-0.597 0.34,-0.538L0.34,-0.43Z" style="fill-rule:nonzero;"/>
                </g>
                <g transform="matrix(393.937,0,0,439.148,148.514,0)">
                    <path d="M0.141,-0.626L0.252,-0.626C0.314,-0.626 0.345,-0.597 0.345,-0.538L0.345,-0.088C0.345,-0.029 0.314,0 0.252,0L0.141,0C0.078,0 0.047,-0.029 0.047,-0.088L0.047,-0.538C0.047,-0.597 0.078,-0.626 0.141,-0.626ZM0.255,-0.102L0.255,-0.524C0.255,-0.536 0.253,-0.544 0.249,-0.548C0.245,-0.551 0.237,-0.553 0.225,-0.553L0.167,-0.553C0.155,-0.553 0.147,-0.551 0.144,-0.548C0.14,-0.544 0.138,-0.536 0.138,-0.524L0.138,-0.102C0.138,-0.09 0.14,-0.082 0.144,-0.079C0.147,-0.075 0.155,-0.073 0.167,-0.073L0.225,-0.073C0.237,-0.073 0.245,-0.075 0.249,-0.079C0.253,-0.082 0.255,-0.09 0.255,-0.102Z" style="fill-rule:nonzero;"/>
                </g>
                <g transform="matrix(393.937,0,0,439.148,303.331,0)">
                    <path d="M0.054,-0.626L0.272,-0.626C0.334,-0.626 0.365,-0.597 0.365,-0.538L0.365,-0.088C0.365,-0.029 0.334,0 0.272,0L0.054,0L0.054,-0.626ZM0.274,-0.1L0.274,-0.526C0.274,-0.538 0.272,-0.546 0.268,-0.55C0.264,-0.553 0.256,-0.555 0.244,-0.555L0.145,-0.555L0.145,-0.071L0.244,-0.071C0.256,-0.071 0.264,-0.073 0.268,-0.077C0.272,-0.08 0.274,-0.088 0.274,-0.1Z" style="fill-rule:nonzero;"/>
                </g>
                <g transform="matrix(393.937,0,0,439.148,465.633,0)">
                    <path d="M0.143,-0.073L0.324,-0.073L0.324,0L0.052,0L0.052,-0.626L0.317,-0.626L0.317,-0.553L0.143,-0.553L0.143,-0.36L0.287,-0.36L0.287,-0.287L0.143,-0.287L0.143,-0.073Z" style="fill-rule:nonzero;"/>
                </g>
                <g transform="matrix(393.937,0,0,439.148,600.754,0)">
                    <path d="M0.232,-0.102L0.232,-0.255C0.232,-0.267 0.23,-0.275 0.227,-0.279C0.223,-0.282 0.215,-0.284 0.203,-0.284L0.129,-0.284C0.068,-0.284 0.038,-0.314 0.038,-0.373L0.038,-0.538C0.038,-0.597 0.069,-0.626 0.131,-0.626L0.229,-0.626C0.291,-0.626 0.322,-0.597 0.322,-0.538L0.322,-0.446L0.231,-0.446L0.231,-0.524C0.231,-0.536 0.229,-0.544 0.225,-0.548C0.221,-0.551 0.213,-0.553 0.201,-0.553L0.159,-0.553C0.147,-0.553 0.139,-0.551 0.135,-0.548C0.131,-0.544 0.129,-0.536 0.129,-0.524L0.129,-0.385C0.129,-0.373 0.131,-0.365 0.135,-0.362C0.139,-0.358 0.147,-0.356 0.159,-0.356L0.232,-0.356C0.293,-0.356 0.324,-0.327 0.324,-0.268L0.324,-0.088C0.324,-0.029 0.293,0 0.23,0L0.133,0C0.071,0 0.04,-0.029 0.04,-0.088L0.04,-0.18L0.131,-0.18L0.131,-0.102C0.131,-0.09 0.133,-0.082 0.137,-0.079C0.141,-0.075 0.149,-0.073 0.161,-0.073L0.203,-0.073C0.215,-0.073 0.223,-0.075 0.227,-0.079C0.23,-0.082 0.232,-0.09 0.232,-0.102Z" style="fill-rule:nonzero;"/>
                </g>
            </g>
        </g>
    </g>
</svg>
