<h1>Testing H1</h1>
<h2>Testing H2</h2>
<h3>Testing H3</h3>
<p>Testing paragraph text</p>

<%= link_to "level up", '/levelup' %>

<hr>

<h2>Card Sets</h2>
<% count = 0 %>
<% @testlangs2.map do |langset| %>
  <div class="grid">
    <% count += 1  %>
    <div class="grid__item" tabindex="<%= count  %>">
      <%= langset.first[:name] %>
    </div>
    <div class="grid__description slide">
      <div>
        <%= langset.first[:description] %>
      </div>
    </div>
    <% if langset.count > 2 %>
      <% count += 1  %>
      <div class="grid__item" tabindex="<%= count  %>">
        <%= langset.second[:name] %>
      </div>
      <div class="grid__description">
        <div>
          <%= langset.second[:description] %>
        </div>
      </div>
      <% count += 1  %>
      <div class="grid__item" tabindex="<%= count  %>">
        <%= langset.third[:name] %>
      </div>
      <div class="grid__description">
        <div>
          <%= langset.third[:description] %>
        </div>
      </div>
    <% elsif langset.count > 1 %>
      <% count += 1  %>
      <div class="grid__item" tabindex="<%= count  %>">
        <%= langset.second[:name] %>
      </div>
      <div class="grid__description">
        <div>
          <%= langset.second[:description] %>
        </div>
      </div>
    <% else %>
    <% end %>
  </div>
<% end %>

<hr>

<!-- <hr>
<div class="sets-grid2">
<%# 2.times do %>
  <div class="d-flex">
    <div class="card-set2 mx-3">
      <div class="card-set-left2">
        <div class="card-set-title2">
          <p class="light-font">TITLE OF THE CARD SET</p>
        </div>
        <div class="light-font card-set-description2">
          This is a description of the card set to help you pick it. There is more info on the next line.
        </div>
      </div>
      <div class="card-set-count2">
        <p class="light-font">20 cards</p>
      </div>
    </div>
    <div class="card-set2 mx-3">
      <div class="card-set-left2">
        <div class="card-set-title2">
          <p class="light-font">TITLE OF THE CARD SET</p>
        </div>
        <div class="light-font card-set-description2">
          This is a description of the card set to help you pick it. There is more info on the next line.
        </div>
      </div>
      <div class="card-set-count2">
        <p class="light-font">20 cards</p>
      </div>
    </div>
  </div>
<%# end %>
</div>
 -->

<hr>
<h2>Tooltip</h2>
<div class="lang-tooltip">HOVER OVER ME
  <span class="lang-tooltiptext">Tooltip text</span>
</div>


<hr>
<h2>Buttons</h2>

<div class="primary-cta btn light-font">PRIMARY CTA</div>

<div class="secondary-btn btn dark-font">SECONDARY BTN</div>

<div class="btn nav light-font">
  <span><i class="fas fa-arrow-left"></i>  BACK</span>
</div>

<div class="btn nav light-font">
  <span>NEXT  <i class="fas fa-arrow-right"></i></span>
</div>
<br>
<br>
<div class="btn submit-btn dark-font">SUBMIT</div>

<hr>
<h2>CARDS</h2>

<div class="language-grid">
  <div class="card-language">
    LANGUAGE
    <div class="card-language-tooltip">
      <i class="btn text-white fas fa-info-circle"></i>
    </div>
  </div>
  <div class="card-language">
    LANGUAGE
    <div class="card-language-tooltip">
      <i class="btn text-white fas fa-info-circle"></i>
    </div>
  </div>
  <div class="card-language">
    LANGUAGE
    <div class="card-language-tooltip">
      <i class="btn text-white fas fa-info-circle"></i>
    </div>
  </div>
  <div class="card-language">
    LANGUAGE
    <div class="card-language-tooltip">
      <i class="btn text-white fas fa-info-circle"></i>
    </div>
  </div>
</div>

<hr>

<h2>SEARCH BAR</h2>

<div class="container col-12 col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
  <%= simple_form_for :search, url: root_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <%=
        text_field_tag :query,
        params[:query],
        placeholder: "Search all card sets...",
        class: "string required form-control" %>
      <div>
        <%= button_tag(type: 'submit', class: "btn btn-primary", data: { disable_with: "Searching..." } ) do %>
          <div class="light-font"><i class="fas fa-search"></i>  Search</div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<hr>
